<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Joltix - Responsive Minimal Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
    <meta name="keywords" content="bootstrap 5, premium, marketing, multipurpose" />
    <meta name="author" content="Themesdesign" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

    <!-- pe-icon-7 -->
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css" type="text/css">

    <!-- custom Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body data-bs-target=".navbar" data-bs-offset="58">
    <!-- START NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top sticky" id="navbar">
        <div class="container">
            <a class="navbar-brand logo fw-bolder fs-24 text-dark" href="index.html">
                <img src="images/logo-dark.png" alt="" height="22">
            </a>

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link sub-menu-item" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link sub-menu-item" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link sub-menu-item" href="services.html">Services</a></li>
                    <li class="nav-item dropdown parent-menu-item">
                        <a class="nav-link menu-item dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu ms-3">
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="products.html">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="product-list.html">Product-list</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="product-detail.html">Product Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="checkout.html">Checkout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="cart.html">Cart</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown parent-menu-item">
                        <a class="nav-link menu-item dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Portfolio</a>
                        <ul class="dropdown-menu ms-3">
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="work.html">Work</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="work-detail.html">Work Detail</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown parent-menu-item">
                        <a class="nav-link menu-item dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu ms-3">
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="blog-listing.html">Blog Listing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="blog-grid.html">Blog Grid</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="single-post.html">Single Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-menu-item" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- START TITLE -->
    <section>
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="card hero-img position-relative" style="background-image: url(images/title-bg.jpg);">
                        <div class="title-bg-overlay"></div>
                        <div class=" d-flex align-items-center justify-content-center">
                            <div class="position-relative">
                                <h1 class="fw-medium">Cart</h1>
                                <h5 class="fw-normal lh-base">Founded and based in Spain, we are Eagle, a design and branding agency <br> with partners worldwide.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TITLE -->

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="border-bottom">
                        <nav class="pb-sm-3 pb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cart</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="table-responsive mt-4">
                        <table class="table caption-top table-borderless pro-table">
                            <thead class="bg-light">
                                <tr>
                                    <th scope="col" class="fw-medium text-uppercase mt-2">
                                        Products
                                    </th>
                                    <th scope="col" class="fw-medium text-uppercase mt-2">
                                        Price
                                    </th>
                                    <th scope="col" class="fw-medium text-uppercase mt-2">
                                        Discount
                                    </th>
                                    <th scope="col" class="fw-medium text-uppercase mt-2">
                                        Quantity
                                    </th>
                                    <th scope="col" class="fw-medium text-uppercase mt-2">
                                        Remove
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <img class="img-fluid border rounded" src="images/products/pro-1.jpg" width="125" alt="">
                                    </th>
                                    <td>
                                        <h5 class="fs-16 fw-medium">Smart 720p CCTV</h5>
                                        <div class="price d-inline-block">
                                            <ins class="pe-1 fs-15 fw-semibold text-decoration-none">$29.00</ins>
                                            <del class="text-muted fs-15">$30.00</del>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <span class="badge bg-primary py-2">-20%</span>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-select border" id="autoSizingSelect">
                                    <option >0</option>
                                    <option value="1">1</option>
                                    <option value="2" selected>2</option>
                                    <option value="3">3</option>
                                </select>
                                    </td>
                                    <td>
                                        <a href="#" class="text-uppercase text-primary fw-medium">Remove <span class="mx-3">|</span> Add To Wishlist</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <img class="img-fluid border rounded" src="images/products/pro-6.jpg" width="125" alt="">
                                    </th>
                                    <td>
                                        <h5 class="fs-16 fw-medium">Dell Laptop core pro</h5>
                                        <div class="price d-inline-block">
                                            <ins class="pe-1 fs-15 fw-semibold text-decoration-none">$49.00</ins>
                                            <del class="text-muted fs-15">$59.00</del>
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <span class="badge bg-primary py-2">-20%</span>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="form-select border" id="autoSizingSelect1">
                                    <option >0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3" selected>3</option>
                                </select>
                                    </td>
                                    <td>
                                        <a href="#" class="text-uppercase text-primary fw-medium">Remove <span class="mx-3">|</span> Add To Wishlist</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row border-top">
                        <div class="col-lg-6 mt-4">
                            <div class="mb-3 row g-2 align-items-center">
                                <label for="inputCode" class="col-sm-3 col-3 col-form-label text-uppercase fw-medium"><i class="mdi mdi-tag-multiple fs-18 align-middle"></i> Coupens</label>
                                <div class="col-sm-6 col-5">
                                    <input type="text" class="form-control border" id="inputCode">
                                </div>
                                <div class="col-sm-3 col-4">
                                    <a href="#" class="btn btn-primary">Check</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 offset-lg-2 mt-4">
                            <div>
                                <ul class="list-unstyled list-inline border-bottom py-3 mb-0">
                                    <li class="list-inline-item">
                                        <h5 class="fs-15 mb-0 fw-medium">Price :</h5>
                                    </li>
                                    <li class="list-inline-item float-end">$259.00</li>
                                </ul>
                                <ul class="list-unstyled list-inline border-bottom py-3 mb-0">
                                    <li class="list-inline-item">
                                        <h5 class="fs-15 mb-0 fw-medium">Delivery Charge :</h5>
                                    </li>
                                    <li class="list-inline-item float-end text-success">Free</li>
                                </ul>
                                <ul class="list-unstyled list-inline border-bottom py-3 mb-0">
                                    <li class="list-inline-item">
                                        <h5 class="fs-15 mb-0 fw-medium">Discount :</h5>
                                    </li>
                                    <li class="list-inline-item float-end">$100.00</li>
                                </ul>
                                <ul class="list-unstyled list-inline py-3 mb-0">
                                    <li class="list-inline-item">
                                        <h5 class="fs-16 mb-0 fw-semibold">Total :</h5>
                                    </li>
                                    <li class="list-inline-item fs-16 fw-medium float-end">$159.00</li>
                                </ul>
                                <a href="#" class="btn btn-primary mt-3 float-end">Proceed To Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="brand-section">
        <div class="container">
            <!-- start brand logo -->
            <div class="row">
                <div class="col-sm-3 col-6 py-3">
                    <div class="client-images">
                        <img src="images/brand/brand-1.png" alt="client-img" class=" img-fluid" />
                    </div>
                </div>
                <div class="col-sm-3 col-6 py-3">
                    <div class="client-images">
                        <img src="images/brand/brand-2.png" alt="client-img" class=" img-fluid" />
                    </div>
                </div>
                <div class="col-sm-3 col-6 py-3">
                    <div class="client-images">
                        <img src="images/brand/brand-3.png" alt="client-img" class=" img-fluid" />
                    </div>
                </div>
                <div class="col-sm-3 col-6 py-3">
                    <div class="client-images">
                        <img src="images/brand/brand-4.png" alt="client-img" class=" img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 pt-4">
                    <div class="pb-4">
                        <a class="navbar-brand logo fw-bolder fs-24 text-dark" href="index.html">
                        <img src="images/logo-dark.png" alt="" height="22">
                    </a>
                    </div>
                    <h5>3358 Dovetail Estates</h5>
                    <p class="text-muted mb-4">When an unknown printer took a galley of type scrambled it to make a type book.</p>
                    <h4 class="text-primary">+1234-5678-90</h4>
                </div>
                <div class="col-lg-2 offset-lg-3 col-md-3 pt-4">
                    <h4>Company</h4>
                    <ul class="list-unstyled footer-list mt-3">
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Home</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> How It Works</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Our Mission</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Privacy Policy</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 pt-4">
                    <h4>Products</h4>
                    <ul class="list-unstyled footer-list mt-3">
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Health</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Insurance</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Travel</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Photography</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Technology</a></li>
                    </ul>
                </div>
            </div>
            <!-- end row -->
        </div>
    </footer>
    <!-- END FOOTER -->

    <!-- START FOOTER ALTER -->
    <div class="footer-alt bg-dark">
        <div class="container">
            <div class="row align-items-center py-3">
                <div class="col-md-6">
                    <p class="text-white m-0"> © Joltix-2021 Design by Themesdesign</p>
                </div>
                <div class="col-md-6">
                    <div class="float-md-end float-start mt-sm-0 mt-3">
                        <ul class="list-inline social-circle text-center mb-0">
                            <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-facebook"></i> </a></li>
                            <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-twitter"></i> </a></li>
                            <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-google-plus"></i> </a></li>
                            <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-apple"></i> </a></li>
                            <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-instagram"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END FOOTER ALTER -->

    <!-- Javascript -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <!-- app js -->
    <script src="js/app.js"></script>
</body>


</html>