<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>Joltix - Responsive Minimal Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
        <meta name="keywords" content="bootstrap 5, premium, marketing, multipurpose" />
        <meta name="author" content="Themesdesign" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="images/favicon.ico" />

        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

        <!-- pe-icon-7 -->
        <link rel="stylesheet" href="css/pe-icon-7-stroke.css" type="text/css">

        <!-- custom Css -->
        <link rel="stylesheet" type="text/css" href="css/style.css" />
    </head>

    <body data-bs-target=".navbar" data-bs-offset="58">
        <!-- START NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top sticky" id="navbar">
            <div class="container">
                <a class="navbar-brand logo fw-bolder fs-24 text-dark" href="index.html">
                    <img src="images/logo-dark.png" alt="" height="22">
                </a>
    
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
    
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link sub-menu-item" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link sub-menu-item" href="about.html">About</a></li>
                        <li class="nav-item"><a class="nav-link sub-menu-item" href="services.html">Services</a></li>
                        <li class="nav-item dropdown parent-menu-item">
                            <a class="nav-link menu-item dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu ms-3">
                                <li class="nav-item">
                                    <a class="nav-link sub-menu-item" href="products.html">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link sub-menu-item" href="product-list.html">Product-list</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link sub-menu-item" href="product-detail.html">Product Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link sub-menu-item" href="checkout.html">Checkout</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link sub-menu-item" href="cart.html">Cart</a>
                                </li>
                            </ul>
                        </li>
    
                        <li class="nav-item dropdown parent-menu-item">
                            <a class="nav-link menu-item dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Portfolio</a>
                            <ul class="dropdown-menu ms-3">
                                <li class="nav-item">
                                    <a class="nav-link sub-menu-item" href="work.html">Work</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link sub-menu-item" href="work-detail.html">Work Detail</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown parent-menu-item">
                            <a class="nav-link menu-item dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Blog</a>
                            <ul class="dropdown-menu ms-3">
                                <li class="nav-item">
                                    <a class="nav-link sub-menu-item" href="blog-listing.html">Blog Listing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link sub-menu-item" href="blog-grid.html">Blog Grid</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link sub-menu-item" href="single-post.html">Single Post</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link sub-menu-item" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
    
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- START TITLE -->
        <section>
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <div class="card hero-img position-relative" style="background-image: url(images/title-bg.jpg);">
                            <div class="title-bg-overlay"></div>
                            <div class=" d-flex align-items-center justify-content-center">
                                <div class="position-relative">
                                    <h1 class="fw-medium">Product Detail</h1>
                                    <h5 class="fw-normal lh-base">Founded and based in Spain, we are Eagle, a design and branding agency <br>
                                        with partners worldwide.</h5>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </section>
        <!-- END TITLE -->


        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12"> 
                        <div class="border-bottom">
                            <nav class="pb-sm-3 pb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Product Details</li>
                                </ol>
                            </nav>
                    </div>    
                        <div class="row">
                            <div class="col-md-5 mt-4">
                                <img class="border img-fluid rounded" src="images/products/pro-1.jpg" alt="">
                                <div class="row">
                                    <div class="col-md-6 mt-4">
                                        <a href=""><img class="border img-fluid rounded" src="images/products/pro-2.jpg" alt=""></a>
                                    </div>
                                    <div class="col-md-6 mt-4">
                                        <a href=""><img class="border img-fluid rounded" src="images/products/pro-3.jpg" alt=""></a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-7 mt-4">
                                <div class="pro-detail-content my-3">
                                    <div class="price d-inline-block">
                                        <ins class="pe-1 fs-16 fw-semibold text-decoration-none">$209.00</ins>
                                        <del class="text-muted fs-16">$230.00</del>
                                    </div>
                                    <div class="rating d-inline-block ps-4">                               
                                        <i class="mdi mdi-star fs-20 text-warning d-inline-block"></i> 
                                        <h5 class="d-inline-block fs-16">5.0</h5>
                                    </div>
                                    
                                    <a href="#">
                                        <h4 class="fw-medium lh-base my-1">360 Smart 720p CCTV/WiFi MP Digital Camera</h4>
                                    </a>    
                                    <span class="badge bg-primary py-2 mt-3">-20%</span>
                                    <p class="text-muted mt-4">The full monty brilliant young delinquent burke naff baking cakes the wireless argy-bargy smashing, squiffy chimney pot I he nicked it
                                        twit brolly spend a penny he legged it.</p>
                                    <div class="details mb-4">
                                        <ul class="list-unstyled ">
                                            <li class="text-muted py-1"><i class="mdi mdi-check"></i> Generally delivered in 7 - 11 days</li>
                                            <li class="text-muted py-1"><i class="mdi mdi-check"></i> Warranty Period (in years):1</li>
                                            <li class="text-muted py-1"><i class="mdi mdi-check"></i> Number of Focus Points:3</li>
                                            <li class="text-muted py-1"><i class="mdi mdi-check"></i> 7 Days Replacement</li>
                                        </ul>
                                        <ul class="list-unstyled list-inline">
                                            
                                        </ul>
                                    </div>
                                    <div class="qty mb-4">
                                        <h5 class="d-inline-block">Select Items :</h5>
                                        <select class="form-select border d-inline-block ms-4 w-25" id="autoSizingSelect">
                                            <option selected="">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>    
                                            <option value="3">3</option>
                                        </select>
                                    </div>
                                    <div class="color mb-4">
                                        <h5 class="d-inline-block">Color :</h5>
                                        <ul class="d-inline-block list-unstyled list-inline align-middle ms-4 mb-0">
                                            <li class="list-inline-item me-0">
                                                <a href="#"><i class="mdi mdi-checkbox-intermediate fs-5 text-success"></i></a>                                           
                                            </li>
                                            <li class="list-inline-item me-0">
                                                <a href="#"><i class="mdi mdi-checkbox-intermediate fs-5 text-primary"></i></a>                                           
                                            </li>
                                            <li class="list-inline-item me-0">
                                                <a href="#"><i class="mdi mdi-checkbox-intermediate fs-5 text-danger"></i></a>                                           
                                            </li>
                                            <li class="list-inline-item me-0">
                                                <a href="#"><i class="mdi mdi-checkbox-intermediate fs-5 text-warning"></i></a>                                           
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="#"><i class="mdi mdi-checkbox-intermediate fs-5 text-dark"></i></a>                                           
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="availability mb-4">
                                        <h5 class="d-inline-block">availability :</h5>
                                        <p class="d-inline-block ms-4"> In Stock</p>
                                    </div>
                                    <div class="hover-content bg-white">
                                        <a href="cart.html" class="btn btn-primary me-2 my-2"> <i class="mdi mdi-cart-outline fs-18 fw-bolder pro-icon align-middle"></i> Add To Cart</a>
                                        <a href="cart.html" class="btn btn-secondary my-2"> <i class="mdi mdi-heart-outline fs-18 fw-bolder pro-icon align-middle"></i> Wishlist</a>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end pro-detail -->

        <!-- detail tab -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="pro-detail-area">
                            <div class="nav nav-tabs detail-title" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
                            <a class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</a>
                            </div>
                        </nav>
                        <div class="tab-content border-bottom pt-4" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis orci ac odio dictum tincidunt. Donec ut metus leo. Class aptent taciti sociosqu
                                ad litora torquent per conubia nostra, per inceptos himenaeos. Sed luctus, dui eu sagittis sodales, nulla nibh sagittis augue, vel porttitor diam enim non
                                metus. Vestibulum aliquam augue neque. Phasellus tincidunt odio eget ullamcorper efficitur. Cras placerat ut turpis pellentesque vulputate. Nam sed consequat
                                tortor. Curabitur finibus sapien dolor. Ut eleifend tellus nec erat pulvinar dignissim. Nam non arcu purus. Vivamus et massa massa. <br>
                                The full monty brilliant young delinquent burke naff baking cakes the wireless argy-bargy smashing, squiffy chimney pot I he nicked it twit brolly spend a penny he legged it, cup of tea is ruddy grub.!</p></div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <h4 class="my-3">5 Ratings & 0 Review</h4>
                                <ul class="list-unstyled my-4">
                                    <li class="list-inline d-flex py-3">
                                        <div>
                                            <a href="#">
                                                <img class="rounded-circle" src="images/clients/client-1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="ps-4">
                                            <h4 class="d-inline-block fs-17 mb-0">John Barrows</h4>
                                            <div class="rating d-inline-block ps-sm-4">                               
                                                <i class="mdi mdi-star fs-17 text-warning d-inline-block"></i> 
                                                <h5 class="d-inline-block fs-17">5.0</h5>
                                            </div>
                                            <p class="text-primary">24th January, 2021</p>
                                            <p class="text-muted">Animi tempora pellentesque, tristique gravida dui, deleniti quod repellendus voluptatum, aptent adipisci
                                                young delinquent burke naff baking cakes the wireless argy-bargy smashpend a penny he legged it.
                                            </p>
                                            
                                        </div>
                                    </li>
                                    <li class="list-inline d-flex py-3">
                                        <div>
                                            <a href="#">
                                                <img class="rounded-circle" src="images/clients/client-2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="ps-4">
                                            <h4 class="d-inline-block fs-17 mb-0">James Marks</h4>
                                            <div class="rating d-inline-block ps-sm-4">                               
                                                <i class="mdi mdi-star fs-17 text-warning d-inline-block"></i> 
                                                <h5 class="d-inline-block fs-17">4.9</h5>
                                            </div>
                                            <p class="text-primary">2nd January, 2021</p>
                                            <p class="text-muted">Animi tempora pellentesque, tristique gravida dui, deleniti quod repellendus voluptatum, aptent adipisci
                                                young delinquent burke naff baking cakes the wireless argy-bargy smashpend a penny he legged it.
                                            </p>                                        
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end nav -->
                        <div>
                            <h4 class="mt-5 mb-3">Add Your Review</h4>
                            <form method="post">
                                <div class="row g-4 mb-2">
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control"  placeholder="Your name">
                                            <label class="text-muted" >Your name</label>
                                        </div>                                   
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" placeholder="Your email">
                                            <label class="text-muted" >Email address</label>
                                        </div>   
                                    </div>
                                </div>
                                <div class="row g-4 mb-2">
                                    <div class="col-lg-12">
                                        <div class="form-floating mb-3">
                                            <textarea type="text" class="form-control" placeholder="Your Message...." style="height: 100px"></textarea>
                                            <label class="text-muted">Your Review</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h5 class="align-middle">Add Your Review :
                                        <ul class="list-unstyled list-inline mt-2">
                                            <li class="list-inline-item me-0">
                                                <i class="mdi mdi-star fs-17 text-warning"></i>
                                            </li>
                                            <li class="list-inline-item me-0">
                                                <i class="mdi mdi-star fs-17 text-warning"></i>
                                            </li>
                                            <li class="list-inline-item me-0">
                                                <i class="mdi mdi-star fs-17 text-warning"></i>
                                            </li>
                                            <li class="list-inline-item me-0">
                                                <i class="mdi mdi-star fs-17 text-warning"></i>
                                            </li>
                                            <li class="list-inline-item me-0">
                                                <i class="mdi mdi-star-half-full fs-17 text-warning"></i>
                                            </li>
                                        </ul>
                                    </h5>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 mt-2">
                                        <input type="button"  class="btn btn-primary" value="Send Review" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
        </section>
        <!-- end detail tab -->

    

    
            

        <section class="brand-section">
            <div class="container">
                <!-- start brand logo -->
                <div class="row">
                    <div class="col-sm-3 col-6 py-3">
                        <div class="client-images">
                            <img src="images/brand/brand-1.png" alt="client-img" class=" img-fluid" />
                        </div>
                    </div>
                    <div class="col-sm-3 col-6 py-3">
                        <div class="client-images">
                            <img src="images/brand/brand-2.png" alt="client-img" class=" img-fluid" />
                        </div>
                    </div>
                    <div class="col-sm-3 col-6 py-3">
                        <div class="client-images">
                            <img src="images/brand/brand-3.png" alt="client-img" class=" img-fluid" />
                        </div>
                    </div>
                    <div class="col-sm-3 col-6 py-3">
                        <div class="client-images">
                            <img src="images/brand/brand-4.png" alt="client-img" class=" img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer class="footer bg-light py-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 pt-4">
                        <div class="pb-4">
                            <a class="navbar-brand logo fw-bolder fs-24 text-dark" href="index.html">
                                <img src="images/logo-dark.png" alt="" height="22">
                            </a>
                        </div>
                        <h5>3358  Dovetail Estates</h5>
                        <p class="text-muted mb-4">When an unknown printer took a galley of type scrambled it to make a type book.</p>
                        <h4 class="text-primary">+1234-5678-90</h4>
                    </div>
                    <div class="col-lg-2 offset-lg-3 col-md-3 pt-4">  
                        <h4>Company</h4>                  
                        <ul class="list-unstyled footer-list mt-3">
                            <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Home</a></li>
                            <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> How It Works</a></li>
                            <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Our Mission</a></li>
                            <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Privacy Policy</a></li>
                            <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Contact Us</a></li>
                        </ul> 
                    </div>
                    <div class="col-lg-2 col-md-3 pt-4"> 
                        <h4>Products</h4>                   
                        <ul class="list-unstyled footer-list mt-3">
                            <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Health</a></li>
                            <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Insurance</a></li>
                            <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Travel</a></li>
                            <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Photography</a></li>
                            <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Technology</a></li>
                        </ul> 
                    </div>
                </div>
                <!-- end row -->
            </div>
        </footer>
        <!-- END FOOTER -->

        <!-- START FOOTER ALTER -->
        <div class="footer-alt bg-dark">
            <div class="container">
                <div class="row align-items-center py-3">
                    <div class="col-md-6">
                        <p class="text-white m-0"> © Joltix-2021 Design by Themesdesign</p>
                    </div>
                    <div class="col-md-6">
                        <div class="float-md-end float-start mt-sm-0 mt-3">
                            <ul class="list-inline social-circle text-center mb-0">
                                <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-facebook"></i> </a></li>
                                <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-twitter"></i> </a></li>
                                <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-google-plus"></i> </a></li>
                                <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-apple"></i> </a></li>
                                <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-instagram"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FOOTER ALTER -->

        <!-- Javascript -->
        <script src="js/bootstrap.bundle.min.js"></script>
        <!-- app js -->
        <script src="js/app.js"></script>
    </body>
        
    
</html>