<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Joltix - Responsive Minimal Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Premium Bootstrap 5 Landing Page Template" />
    <meta name="keywords" content="bootstrap 5, premium, marketing, multipurpose" />
    <meta name="author" content="Themesdesign" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css" />

    <!-- pe-icon-7 -->
    <link rel="stylesheet" href="css/pe-icon-7-stroke.css" type="text/css">

    <!-- custom Css -->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body data-bs-target=".navbar" data-bs-offset="58">
    <!-- START NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top sticky" id="navbar">
        <div class="container">
            <a class="navbar-brand logo fw-bolder fs-24 text-dark" href="index.html">
                <img src="images/logo-dark.png" alt="" height="22">
            </a>

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link sub-menu-item" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link sub-menu-item" href="about.html">About</a></li>
                    <li class="nav-item"><a class="nav-link sub-menu-item" href="services.html">Services</a></li>
                    <li class="nav-item dropdown parent-menu-item">
                        <a class="nav-link menu-item dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Shop</a>
                        <ul class="dropdown-menu ms-3">
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="products.html">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="product-list.html">Product-list</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="product-detail.html">Product Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="checkout.html">Checkout</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="cart.html">Cart</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown parent-menu-item">
                        <a class="nav-link menu-item dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Portfolio</a>
                        <ul class="dropdown-menu ms-3">
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="work.html">Work</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="work-detail.html">Work Detail</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown parent-menu-item">
                        <a class="nav-link menu-item dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Blog</a>
                        <ul class="dropdown-menu ms-3">
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="blog-listing.html">Blog Listing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="blog-grid.html">Blog Grid</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link sub-menu-item" href="single-post.html">Single Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sub-menu-item" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- START TITLE -->
    <section>
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="card hero-img position-relative" style="background-image: url(images/title-bg.jpg);">
                        <div class="title-bg-overlay"></div>
                        <div class=" d-flex align-items-center justify-content-center">
                            <div class="position-relative">
                                <h1 class="fw-medium">Web & graphic design company</h1>
                                <h5 class="fw-normal lh-base">Founded and based in Spain, we are Eagle, a design and branding agency <br> with partners worldwide.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TITLE -->

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="images/works/img4.jpg" alt="about-img" class="img-fluid img-rounded margin-t-30">
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item me-4">
                            <h5>Client: <span class="fw-normal">Thomsoon</span></h5>
                        </li>
                        <li class="list-inline-item">
                            <h5>Year: <span class="fw-normal">2020</span></h5>
                        </li>
                    </ul>
                    <div class="project-desc margin-t-50">
                        <p class="text-muted">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.If you are going to use a
                            passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks.</p>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur advipisicing elit. Eos, corporis! Accusamus magnam asperiores temporibus nam perspiciatis ab, saepe aperiam eligendi. Many desktop publishing packages and web page editors now use Lorem Ipsum
                            as their default model text</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>


    <section class="brand-section">
        <div class="container">
            <!-- start brand logo -->
            <div class="row">
                <div class="col-sm-3 col-6 py-3">
                    <div class="client-images">
                        <img src="images/brand/brand-1.png" alt="client-img" class=" img-fluid" />
                    </div>
                </div>
                <div class="col-sm-3 col-6 py-3">
                    <div class="client-images">
                        <img src="images/brand/brand-2.png" alt="client-img" class=" img-fluid" />
                    </div>
                </div>
                <div class="col-sm-3 col-6 py-3">
                    <div class="client-images">
                        <img src="images/brand/brand-3.png" alt="client-img" class=" img-fluid" />
                    </div>
                </div>
                <div class="col-sm-3 col-6 py-3">
                    <div class="client-images">
                        <img src="images/brand/brand-4.png" alt="client-img" class=" img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 pt-4">
                    <div class="pb-4">
                        <a class="navbar-brand logo fw-bolder fs-24 text-dark" href="index.html">
                                <img src="images/logo-dark.png" alt="" height="22">
                            </a>
                    </div>
                    <h5>3358 Dovetail Estates</h5>
                    <p class="text-muted mb-4">When an unknown printer took a galley of type scrambled it to make a type book.</p>
                    <h4 class="text-primary">+1234-5678-90</h4>
                </div>
                <div class="col-lg-2 offset-lg-3 col-md-3 pt-4">
                    <h4>Company</h4>
                    <ul class="list-unstyled footer-list mt-3">
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Home</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> How It Works</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Our Mission</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Privacy Policy</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 pt-4">
                    <h4>Products</h4>
                    <ul class="list-unstyled footer-list mt-3">
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Health</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Insurance</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Travel</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Photography</a></li>
                        <li class="py-1"><a href="#"><i class="mdi mdi-chevron-right"></i> Technology</a></li>
                    </ul>
                </div>
            </div>
            <!-- end row -->
        </div>
    </footer>
    <!-- END FOOTER -->

    <!-- START FOOTER ALTER -->
    <div class="footer-alt bg-dark">
        <div class="container">
            <div class="row align-items-center py-3">
                <div class="col-md-6">
                    <p class="text-white m-0"> © Joltix-2021 Design by Themesdesign</p>
                </div>
                <div class="col-md-6">
                    <div class="float-md-end float-start mt-sm-0 mt-3">
                        <ul class="list-inline social-circle text-center mb-0">
                            <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-facebook"></i> </a></li>
                            <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-twitter"></i> </a></li>
                            <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-google-plus"></i> </a></li>
                            <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-apple"></i> </a></li>
                            <li class="list-inline-item"><a href="" class="rounded-circle fs-16 d-inline-block lh-lg"> <i class="mdi mdi-instagram"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END FOOTER ALTER -->


    <!-- JAVASCRIPTS -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>